<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>template - login</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="splashContainer"></div>
        <h1>login title</h1>
        <label>brugernavn:</label>
        <input type="text" id="loginUsername" value="admin">
        <label>adgangskode:</label>
        <input type="password" id="loginPassword" value="admin">
        <input type="button" id="loginSubmit" value="submit">
        <% include ../partials/footer %>
        <script src="js/validating.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>